@model IEnumerable<Product>

<!-- ======= Categories Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h4>Products related to : @ViewBag.name</h4>
        </div>

        <div class="row portfolio-container">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                        <img src="../@item.Photo" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>@item.Name</h4>
                            <p>$@item.Price</p>
                        </div>
                        <div class="portfolio-links">
                            <a href="../@item.Photo" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.Name"><i class="bx bx-plus"></i></a>
                            <a asp-controller="Home" asp-action="CurrentProduct" asp-route-id="@item.Id" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section><!-- End Portfolio Section -->
